@font-face {
    font-family: 'ToberuFont';
    src: url('font.ttf') format('truetype');
}

body {
    background-color: #cceeff; /* Açık mavimsi arka plan */
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer; /* Tıklanabilir işareti */
    transition: transform 1s ease-in-out;
}

.title {
    font-family: 'ToberuFont', Arial, sans-serif;
    font-size: 36px;
    color: #333;
    margin-left: 20px;
}

.content {
    text-align: center;
    margin-top: 100px; /* Plane Models yazısı yukarı taşındı */
}

h2 {
    font-size: 28px;
    color: #333;
}

p {
    font-size: 24px;
    color: #555;
}

/* Ortalamak için ana div */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Resimler arasında boşluk */
    margin-top: 20px;
}

/* Footer'ı sayfanın sonunda tutma */
.footer {
    text-align: center;
    margin-top: 50px; /* İçeriğin altına biraz boşluk ekler */
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
}

.footer-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.logo-small {
    width: 50px;
    height: auto;
    display: inline-block;
}
